/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #10002B;
    padding: 20px 6% 20px 4%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #5A189A;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}
.logo{
    color: #ffffff;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #9D4EDD;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    .navbar {
        padding: 15px 8%;
        flex-direction: column;
    }
    
    .nav-links {
        margin-top: 15px;
    }
    
    .nav-links li {
        margin: 0 10px;
    }
}