.portfolio-Ueberschrift{
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}
.project-ueberschrift{
    color: #fff;
    text-align: center ;
    font-size: 40px;
}
.project-description{
    color: #fff;
    font-size: 20px;
}
.project-tools{
    color: rgba(255, 255,255,0.8);
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.project {
    border: 2px solid #9D4EDD;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    position: relative; 
    box-shadow: 0 0 15px rgba(154, 77, 255, 0.5); 
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(154, 77, 255, 0.8), 0 0 40px rgba(154, 77, 255, 0.3);
}

.project-content {
    display: flex;
    flex-direction: column;
    min-height: 200px; 
}

.img-container-portfolio {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
}

.img-link-portfolio {
    width: 24px; 
    height: auto;
}