<section id="hero">
    <div class="hero-content">
        <div class="hero-text">
        <p class="greeting">Hi!<span style="display: inline-block; transform: scaleX(-1);">👋🏻</span></p>
        <p class="greeting-name">my name is</p>
        <h1 class="name">Mathis Zizlsperger</h1>
        <p class="fun-text">Turning challenges into solutions through code</p>
        <p class="description">I'm a Computer Science Student <br>
            at the <a class = "link-hs"target="_blank" href="https://www.english.hs-mannheim.de/the-university.html">Technical University of Applied Sciences Mannheim</a><br>
            with a passion for backend development
        </p>
        </div>
        <div class="img-container">
        <img class="pic" src="../assets/doggo.png" alt="Picture of Me"/>
        </div>
    </div>
</section>