<section id="projects">
    <div class="projects-container">
        <div class="project-grid">
            <div class="project">
                <div class="project-content">
                    <h3 class="project-ueberschrift">Überschrift</h3>
                    <p class="project-description">Keine Ahnung was das Projekt gemacht hat</p>
                    <p class="project-tools"></p>
                    <div class="img-container-portfolio">
                        <a href="" target="_blank"><img class="img-link-portfolio" src="../assets/github-mark-white.png"
                                alt="github-image"></a>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-content">
                    <h3 class="project-ueberschrift">Überschrift</h3>
                    <p class="project-description">Keine Ahnung was das Projekt gemacht hat</p>
                    <p class="project-tools"></p>
                    <div class="img-container-portfolio">
                        <a href="" target="_blank"><img class="img-link-portfolio" src="../assets/github-mark-white.png"
                                alt="github-image"></a>
                    </div>
                </div>
            </div>
            <div class="project">
                <div class="project-content">
                    <h3 class="project-ueberschrift">Überschrift</h3>
                    <p class="project-description">Keine Ahnung was das Projekt gemacht hat</p>
                    <p class="project-tools">Idk Java</p>
                    <div class="img-container-portfolio">
                        <a href="" target="_blank"><img class="img-link-portfolio" src="../assets/github-mark-white.png"
                                alt="github-image"></a>
                    </div>
                </div>
            </div>
        </div>
</section>