<section class="skills-section">
    <div class="text-skill">I'M GOOD AT</div>
    <div class="skills-icons">
      <a href="https://go.dev/" target="_blank"><img src="https://go.dev/blog/go-brand/Go-Logo/SVG/Go-Logo_Aqua.svg" alt="go-logo" /></a>
      <a href="https://www.java.com/" target="_blank"><img src="/Portfolio/assets/Java-Logo.svg.png" alt="Java-Logo" /></a>
      <a href="https://www.docker.com/" target="_blank"><img src="/Portfolio/assets/docker-mark-blue.svg" alt="docker-logo" /></a>
      <a href="https://www.postgresql.org/" target="_blank"><img src="https://wiki.postgresql.org/images/a/a4/PostgreSQL_logo.3colors.svg" alt="Postgress-logo" /></a>
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="Javascript-logo" /></a>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="html-logo" /></a>
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" alt="css-logo" /></a>
    </div>
  
    <div class="text-skill">TOOLS I USE</div>
    <div class="skills-icons">
      <a href="https://www.jetbrains.com/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/IntelliJ_IDEA_Icon.svg" alt="Intelij-logo" /></a>
      <a href="https://neovim.io/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Neovim-logo.svg" alt="Nvim-logo" /></a>
      <a href="https://zed.dev/" target="_blank"><img src="/Portfolio/assets/idMDobpPom_logos.jpeg" alt="Zed-logo" /></a>
      <a href="https://excalidraw.com/" target="_blank"><img src="Portfolio/assets/excalidraw-seeklogo.png" alt="Exalidraw-logo" /></a>
      <a href="https://github.com/" target="_blank"><img src="/Portfolio/assets/github-mark-white.png" alt="Github-logo" /></a>
      <a href="https://www.linux.org" target="_blank"><img src="/Portfolio/assets/linux-svgrepo-com.svg" alt="Linux-Logo" /></a>
    </div>
  </section>